{% extends "base.html" %}
{% block content %}
<div id="content">
<div class="inner">
<!-- {% block content_title %}
<h2>All articles</h2>
{% endblock %} -->

{% for page in section.pages | reverse %}
        <article class="box post post-excerpt">
                <header> 
                <h2><a href="{{  config.base_url }}/{{ page.path }}" rel="bookmark" title="Permalink to {{ page.title|striptags }}">{{ page.title }}</a></h2> 
                {% if page.extra.headline %}
                    <p>{{page.extra.headline}}</p>
                {% endif %}
                </header>
                <div class="info">
                    <span class="date" datetime="{{ page.date | date(format="%Y-%m-%d")  }}"> 
                    
                    <!-- <ul class="stats">
                                    <li><a href="#" class="icon fa-comment">16</a></li>
                                    <li><a href="#" class="icon fa-heart">32</a></li>
                                    <li><a href="#" class="icon fa-twitter">64</a></li>
                                    <li><a href="#" class="icon fa-facebook">128</a></li>
                                </ul> -->
                </div><!-- /.post-info -->
                <div class="entry-content"> &nbsp; </div><!-- /.entry-content -->
        </article>
{% endfor %}
<!-- /#posts-list -->
{# if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif #}
</div>
</div><!-- /#content -->
{% endblock content %}
